@if(categories.length>0){
<h1 class="text-xl sm:text-2xl lg:text-3xl font-bold mt-6 text-main text-center">
    {{'cat-slider.shop_popular_categories'|translate}}
</h1>
}

<owl-carousel-o [options]="customOptions" class="mx-4">
    @for (category of categories; track category._id) {
    <ng-template carouselSlide [id]="category._id">
        <div class="bg-white rounded-2xl overflow-hidden transform transition-all duration-300
               hover:scale-[1.02] hover:shadow-xl items-center p-4">
            <div class="w-full h-60 mb-3">
                <img [src]="category.image" [alt]="category.name" [title]="category.name"
                    class="w-full h-full object-cover rounded-xl" />
            </div>
            <h4 class="text-center mt-1 text-lg font-semibold text-gray-700">
                {{ category.name }}
            </h4>
        </div>
    </ng-template>
    }
</owl-carousel-o>